.main{
    position: relative;
    & .main-bg-gradient{
        position: absolute;
        width: 1400px;
        min-height: 1400px;
        // border: 1px solid red;
        top: -200px;
        left: -100px;
    background: url(/images/bg-gradient-blue-min.png) 480px 20px no-repeat, 
    url(/images/bg-gradient-yellow-min.png) 650px 260px no-repeat, 
    url(/images/bg-gradient-red-min.png) 0px 180px no-repeat,
    url(/images/arrow-top.png) 200px 260px no-repeat,
    url(/images/arrow-bottom.png) 190px 510px no-repeat;
    background-size: auto, auto, auto, auto, auto; /* Меняем масштаб */

    }
}
