@import "fonts";
@import "grid";
@import "top";
@import "main";
@import "about";
@import "products";
@import "textSlider";

//Color settings
@bg-color: #27282C;
@link-color: #A8A8AA;
@text-color: #fff;

//Font style settings
@regular: ~"400";
@bold: ~"700";
@font-style:"istok", sans-serif;

.font-text(@color, @weight){
    font-family: @font-style;
    font-weight: @weight;
    font-style: normal;
    color:@color;
}

* {
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    background-color: @bg-color;
}

